html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
    display: table;
    margin: 0 auto;
}
form div {
    display: table-row;
}
form input, form label {
    display: table-cell;
}
form label {
    padding-right: 25px;
}
form input {
    width: 150px;
}
